<div class="page-heading text-center">
    <div class="container zoomIn animated">
        <h1 class="page-title">O NAS<span class="title-under"></span></h1>
    </div>
</div>
<div class="main-container">
    <div class="container">
        <div class="row fadeIn animated">
            <div class="col-md-6">
                <img src="images/about-us.jpg" alt="" class="img-responsive">
            </div>
            <div class="col-md-6">
                <h2 class="title-style-2">O NAS <span class="title-under"></span></h2>
                <p>
                    Oferujemy pewną i bezpieczną pracę opiekunek osób starszych w niemczech. Zapewniamy ubezpieczenie.
                </p>
                <p>
                    Świadczymy <strong>usługi opiekuńcze</strong> dla klientów na terenie Niemiec, Wielkiej Brytanii i
                    Polski. W ich imieniu poszukujemy i przygotowujemy do pracy kandydatów z Polski, Rumunii, Bułgarii i
                    Słowacji, zapewniając im legalną formę współpracy oraz organizując pobyt za granicą. Już ponad
                    <strong>25 500 opiekunek i opiekunów</strong> zdecydowało się podjąć z nami współpracę za granicą,
                    obdarzając nas swoim zaufaniem
                </p>
                <p>
                <h4>Naszym opiekunom gwarantujemy:</h4>
                <ul>
                    <li>Wysokie zarobki, specjalne bonusy.</li>
                    <li>Bezpieczną i legalną pracę.</li>
                    <li>Szkolenia opiekuńcze podnoszące kwalifikacje.</li>
                    <li>Szkolenia językowe (także od podstaw).</li>
                </ul>
                </p>
                <p>
                <h4>Naszym podopiecznym zapewniamy: </h4>
                <ul>
                    <li>Bezpieczeństwo i komfort funkcjonowania w ich własnym domu.</li>
                    <li>Opiekę wykwalifikowanego opiekuna.</li>
                    <li>Minimum formalności i szybką organizację opieki.</li>
                    <li>Gwarantujemy satysfakcję ze współpracy z nami – aż 94% zadowolonych Klientów!</li>
                </ul>
                </p>
            </div>
        </div> <!-- /.row -->

        <div class="section-home about-us">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="about-us-col">
                        <div class="col-icon-wrapper">
                            <img src="images/icons/our-mission-icon.png" alt="">
                        </div>
                        <h3 class="col-title">Nasza misja</h3>
                        <div class="col-details">
                            <p>Każda firma ma misję więc i mamy</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="about-us-col">
                        <div class="col-icon-wrapper">
                            <img src="images/icons/make-donation-icon.png" alt="">
                        </div>
                        <h3 class="col-title">Wynagrodzenie</h3>
                        <div class="col-details">
                            <p>Zapewniamy atrakcyjne wynagrodzenie. Minimalna pensja to 1200 &euro;</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="about-us-col">
                        <div class="col-icon-wrapper">
                            <img src="images/icons/help-icon.png" alt="">
                        </div>
                        <h3 class="col-title">Dodatki do pracy</h3>
                        <div class="col-details">
                            <p>Pokrywamy koszty dojazdu, ubiezbieczenia.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="about-us-col">
                        <div class="col-icon-wrapper">
                            <img src="images/icons/programs-icon.png" alt="">
                        </div>
                        <h3 class="col-title">Benefity</h3>
                        <div class="col-details">
                            <p>Dodatek za czynne prawo jazdy, dotatek za polecenie osoby. Premie na święta i
                                urodziny</p>
                        </div>
                    </div>
                </div>
            </div> <!-- /.row -->
        </div>
    </div> <!-- /.about-us -->
    <div class="our-team fadeIn">
        <div class="container">
            <h2 class="title-style-1">Nasza Drużyna<span class="title-under"></span></h2>
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="team-member">
                        <div class="thumnail">
                            <img src="images/team/member-1.jpg" alt="" class="cause-img">
                        </div>
                        <h4 class="member-name">Magdalena Dębowska</h4>
                        <div class="member-position" style="text-transform: uppercase">
                            Założyciel
                        </div>
                    </div> <!-- /.team-member -->
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="team-member">
                        <div class="thumnail">
                            <img src="images/team/member-3.jpg" alt="" class="cause-img">
                        </div>
                        <h4 class="member-name"><a href="#">Barbara Czarnowska</a></h4>

                        <div class="member-position" style="text-transform: uppercase">
                            Założyciel
                        </div>
                    </div> <!-- /.team-member -->
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="team-member">
                        <div class="thumnail">
                            <img src="images/team/member-4.jpg" alt="" class="cause-img">
                        </div>
                        <h4 class="member-name"><a href="#">Bartosz Cembor</a></h4>

                        <div class="member-position" style="text-transform: uppercase">
                            Założyciel
                        </div>
                    </div> <!-- /.team-member -->
                </div>
            </div> <!-- /.row -->
        </div>
    </div>
</div>
