<div class="page-heading text-center">
    <div class="container zoomIn animated">
        <h1 class="page-title">APLIKUJ<span class="title-under"></span></h1>
        <p class="page-description">
            I Ty możesz zostać opiekunem
        </p>
    </div>
</div>
<div class="main-container">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                <form action="php/mail.php" class="ajax-form">
                    <div class="form-group">
                        <input type="text" name="name" class="form-control" placeholder="Imię" required>
                    </div>
                    <div class="form-group">
                        <input type="email" name="email" class="form-control" placeholder="E-mail"
                               required>
                    </div>
                    <div class="form-group">
                        <textarea name="message" class="form-control" placeholder="Wiadomość" required></textarea>
                    </div>
                    <div class="form-group alerts">
                        <div class="alert alert-success" role="alert">
                        </div>
                        <div class="alert alert-danger" role="alert">
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-submit pull-right">Wyślij wiadomość
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

