<div class="page-heading text-center">
    <div class="container zoomIn animated">
        <h1 class="page-title">SKONTAKTUJ SIĘ Z NAMI <span class="title-under"></span></h1>
        <p class="page-description">
            Zapraszamy do współpracy
        </p>
    </div>
</div>
<div class="main-container fadeIn animated">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-sm-12 col-form">
                <h2 class="title-style-2">FORMULARZ KONTAKTOWY <span class="title-under"></span></h2>
                <form action="php/mail.php" class="contact-form ajax-form">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <input type="text" name="name" class="form-control" placeholder="Imię*" required>
                        </div>
                        <div class="form-group col-md-6">
                            <input type="email" name="email" class="form-control" placeholder="E-mail*" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <textarea name="message" rows="5" class="form-control" placeholder="Wiadomość*"
                                  required></textarea>
                    </div>
                    <div class="form-group alerts">
                        <div class="alert alert-success" role="alert">
                        </div>
                        <div class="alert alert-danger" role="alert">
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary pull-right">Wyślij wiadomość</button>
                    </div>
                    <div class="clearfix"></div>
                </form>
            </div>
            <div class="col-md-4 col-md-offset-1 col-contact">
                <h2 class="title-style-2"> DANE KONTAKTOWE <span class="title-under"></span></h2>
                <p>
                    <b>POMOC-24</b> Jesteśmy firmą pośredniczącą w wyjadadach opiekunek osób starszych do niemiec
                <div class="contact-items">
                    <ul class="list-unstyled contact-items-list">
                        <li class="contact-item"><span class="contact-icon"> <i class="fa fa-map-marker"></i></span>
                            Gdańsk Grunwaldzka 167
                        </li>
                        <li class="contact-item"><span class="contact-icon">
                            <i class="fa fa-phone"></i></span> +48 693 40 90 25
                        </li>
                        <li class="contact-item"><span class="contact-icon">
                            <i class="fa fa-phone"></i></span> +49 163 977 5256
                        </li>
                        <li class="contact-item"><span class="contact-icon"> <i class="fa fa-envelope"></i></span>
                            <a href="mailto:b.s.czarnowska@gmail.com">b.s.czarnowska@gmail.com</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div> <!-- /.row -->
    </div>
</div>
<div class="container">
    <div id="contact-map" class="contact-map" style="height: 600px; width: 480px; margin:30px;">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2323.8300680861053!2d18.606159750700364!3d54.37765208011095!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46fd74944f438f33%3A0x6b54466fd78c6f5f!2saleja+Grunwaldzka+167%2C+80-236+Gda%C5%84sk!5e0!3m2!1spl!2spl!4v1466254006995" width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>

</div>
