<div class="page-heading text-center">
    <div class="container zoomIn animated">
        <h1 class="page-title">O STRONIE <span class="title-under"></span></h1>
        <p class="page-description">
            Jak powstała ta strona
        </p>
    </div>
</div>
<div class="main-container">
    <div class="container">
        <h4>LISTA ZMIAN WYKONANYCH W SZABLONIE</h4>
        <table class="table table-style-1">
            <thead>
            <tr>
                <th>#</th>
                <th>Zmiana</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Zmiana kolorystyki z niebieskiej na zieloną. Dkonanto zmian kolorow w formacie RGB zamieniając
                    wartości kanałów G oraz B
                </td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Dodanie 4 podstron</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Dodanie mapy google</td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>Dodanie kodu śledzenia google analitycs</td>
            </tr>
            <tr>
                <th scope="row">5</th>
                <td>Zmiana rozmieszczenia elemetnów</td>
            </tr>
            <tr>
                <th scope="row">6</th>
                <td>Zmiana tekstów oraz zdjęć

                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="container">
        <h4>ZESTAWIENIE MATERIAŁÓW WYKORZYSTANYCH NA STRONIE</h4>
        <table class="table table-style-1">
            <thead>
            <tr>
                <th>#</th>
                <th>Rodzaj</th>
                <th>Źródło</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Zdjęcie</td>
                <td><a target="_blank" href="https://pixabay.com/pl/starszy-u%C5%BCytkownik-vejes-czas-rok-1023145/">https://pixabay.com/pl/starszy-u%C5%BCytkownik-vejes-czas-rok-1023145/</a>
                </td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Zdjęcie</td>
                <td><a target="_blank" href="https://pixabay.com/pl/cz%C5%82owiek-osoby-frustracja-portret-1284515/">https://pixabay.com/pl/cz%C5%82owiek-osoby-frustracja-portret-1284515/</a>
                </td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Zdjęcie</td>
                <td><a target="_blank"
                       href="https://pixabay.com/pl/starszy-rozwa%C5%BCaj%C4%85c-swoje-%C5%BCycie-1425733/">https://pixabay.com/pl/starszy-rozwa%C5%BCaj%C4%85c-swoje-%C5%BCycie-1425733/</a>
                </td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>Zdjęcie</td>
                <td><a target="_blank" href="http://www.shutterstock.com/pl/pic-240339163/stock-photo-helping-hands-care-for-the-elderly-concept.html                ">http://www.shutterstock.com/pl/pic-240339163/stock-photo-helping-hands-care-for-the-elderly-concept.html                </a></td>
            </tr>
            <tr>
                <th scope="row">5</th>
                <td>Zdjęcie</td>
                <td><a target="_blank"
                       href="http://www.shutterstock.com/pl/pic-111443813/stock-photo-senior-woman-with-her-caregiver-at-home.html                ">http://www.shutterstock.com/pl/pic-111443813/stock-photo-senior-woman-with-her-caregiver-at-home.html </a>
                </td>
            </tr>
            <tr>
                <th scope="row">6</th>
                <td>Zdjęcie</td>
                <td><a target="_blank"
                       href="http://www.shutterstock.com/pl/pic-113334061/stock-photo-a-nurse-in-elderly-care-for-the-elderly-in-nursing-homes.htm">http://www.shutterstock.com/pl/pic-113334061/stock-photo-a-nurse-in-elderly-care-for-the-elderly-in-nursing-homes.htm</a>
                </td>
            </tr>
            <tr>
                <th scope="row">7</th>
                <td>Zdjęcie</td>
                <td><a target="_blank"
                       href="http://www.shutterstock.com/pl/pic-148564778/stock-photo-elderly-handicapped-eighty-plus-year-old-man-in-a-wheel-chair-in-a-home-setting.html">http://www.shutterstock.com/pl/pic-148564778/stock-photo-elderly-handicapped-eighty-plus-year-old-man-in-a-wheel-chair-in-a-home-setting.html</a>
                </td>
            </tr>
            <tr>
                <th scope="row">8</th>
                <td>Zdjęcie</td>
                <td><a target="_blank"
                       href="http://www.shutterstock.com/pl/pic-214193395/stock-photo-senior-woman-using-a-walker-cross-street.html">http://www.shutterstock.com/pl/pic-214193395/stock-photo-senior-woman-using-a-walker-cross-street.html</a>
                </td>
            </tr>
            <tr>
                <th scope="row">9</th>
                <td>Zdjęcie</td>
                <td><a target="_blank"
                       href="http://www.shutterstock.com/pl/pic-167099975/stock-photo-young-physiotherapist-exercising-with-elder-disabled-person.html                </a>">http://www.shutterstock.com/pl/pic-167099975/stock-photo-young-physiotherapist-exercising-with-elder-disabled-person.html </a></a>
                </td>
            </tr>
            <tr>
                <th scope="row">10</th>
                <td>Zdjęcie</td>
                <td><a target="_blank"
                       href="http://www.shutterstock.com/pl/pic-404347321/stock-photo-supportive-young-carer-sitting-with-older-patient.html               ">http://www.shutterstock.com/pl/pic-404347321/stock-photo-supportive-young-carer-sitting-with-older-patient.html </a>
                </td>
            </tr>
            <tr>
                <th scope="row">11</th>
                <td>Zdjęcie</td>
                <td><a target="_blank"
                       href="http://www.shutterstock.com/pl/pic-380726641/stock-photo-elderly-woman-working-on-laptop-sitting-near-the-window.html               </a>">http://www.shutterstock.com/pl/pic-380726641/stock-photo-elderly-woman-working-on-laptop-sitting-near-the-window.html</a></a>
                </td>
            </tr>
            <tr>
                <th scope="row">12</th>
                <td>Zdjęcie</td>
                <td><a target="_blank"
                       href="http://www.shutterstock.com/pl/pic-153078443/stock-photo-senior-woman-and-nurse-looking-together-at-album-with-old-photographs.html">http://www.shutterstock.com/pl/pic-153078443/stock-photo-senior-woman-and-nurse-looking-together-at-album-with-old-photographs.html</a>
                </td>
            </tr>
            <tr>
                <th scope="row">13</th>
                <td>Zdjęcie</td>
                <td><a target="_blank"
                       href="http://www.shutterstock.com/pl/pic-367441571/stock-photo-young-doctor-giving-helping-hands-for-elderly-woman.html                ">http://www.shutterstock.com/pl/pic-367441571/stock-photo-young-doctor-giving-helping-hands-for-elderly-woman.html </a>
                </td>
            </tr>
            <tr>
                <th scope="row">14</th>
                <td>Zdjęcie</td>
                <td><a target="_blank"
                       href="http://www.shutterstock.com/pl/pic-288532283/stock-photo-person-doing-shopping-for-elderly-neighbor.html                ">http://www.shutterstock.com/pl/pic-288532283/stock-photo-person-doing-shopping-for-elderly-neighbor.html </a>
                </td>
            </tr>
            <tr>
                <th scope="row">15</th>
                <td>Zdjęcie</td>
                <td><a target="_blank"
                       href="http://www.shutterstock.com/pl/pic-397953778/stock-photo-caring-nurse-helping-sick-elderly-woman-to-drink-in-bed-in-a-nursing-home.html                ">http://www.shutterstock.com/pl/pic-397953778/stock-photo-caring-nurse-helping-sick-elderly-woman-to-drink-in-bed-in-a-nursing-home.html </a>
                </td>
            </tr>
            <tr>
                <th scope="row">16</th>
                <td>Zdjęcie</td>
                <td><a target="_blank"
                       href="http://www.shutterstock.com/pl/pic-391987132/stock-photo-picture-of-caring-young-woman-helping-her-disabled-relative.html                ">http://www.shutterstock.com/pl/pic-391987132/stock-photo-picture-of-caring-young-woman-helping-her-disabled-relative.html</a>
                </td>
            </tr>
            <tr>
                <th scope="row">17</th>
                <td>Zdjęcie</td>
                <td><a target="_blank"
                       href="http://www.shutterstock.com/pl/pic-253210615/stock-photo-nurse-holding-hands-with-senior-woman-sitting-in-wheelchair-in-garden-of-retirement-home.html               ">http://www.shutterstock.com/pl/pic-253210615/stock-photo-nurse-holding-hands-with-senior-woman-sitting-in-wheelchair-in-garden-of-retirement-home.html</a>
                </td>
            </tr>
            <tr>
                <th scope="row">18</th>
                <td>Zdjęcie</td>
                <td><a target="_blank"
                       href="http://www.shutterstock.com/pl/pic-401979067/stock-photo-a-group-of-elderly-farmers-playing-dominoes-in-the-country-around-vinales-cuba.html                ">http://www.shutterstock.com/pl/pic-401979067/stock-photo-a-group-of-elderly-farmers-playing-dominoes-in-the-country-around-vinales-cuba.html </a>
                </td>
            </tr>
            <tr>
                <th scope="row">19</th>
                <td>Zdjęcie</td>
                <td><a target="_blank"
                       href="http://www.shutterstock.com/pl/pic-397212199/stock-photo-caretakers-taking-an-elderly-couple-along-for-a-stroll-through-the-woods-caretakers-caretakers.html   ">http://www.shutterstock.com/pl/pic-397212199/stock-photo-caretakers-taking-an-elderly-couple-along-for-a-stroll-through-the-woods-caretakers-caretakers.html </a>
                </td>
            </tr>

            <tr>
                <th scope="row">20</th>
                <td>Tekst promocyjny</td>
                <td><a target="_blank"
                       href="https://promedica24.com.pl/o-firmie/">https://promedica24.com.pl/o-firmie/</a></td>
            </tr>
            <tr>
                <th scope="row">21</th>
                <td>Tekst promocyjny</td>
                <td><a target="_blank" href="http://pflegemitherzen24.pl/historia-s4">http://pflegemitherzen24.pl/historia-s4</a>
                </td>
            </tr>
            <tr>
                <th scope="row">22</th>
                <td>Biblioteka</td>
                <td>Czcionki <a target="_blank" href="http://fontawesome.io/">http://fontawesome.io/</a></td>
            </tr>
            <tr>
                <th scope="row">23</th>
                <td>Biblioteka</td>
                <td>Angular JS <a target="_blank" href="https://angularjs.org/">https://angularjs.org/</a></td>
            </tr>
            <tr>
                <th scope="row">24</th>
                <td>Narzędzie</td>
                <td>Edytor PHPShtorm wersja edukacyjna <a target="_blank" href="https://www.jetbrains.com/phpstorm/">https://www.jetbrains.com/phpstorm/</a></td>
            </tr>
            <tr>
                <th scope="row">25</th>
                <td>Narzędzie</td>
                <td>Narzędzie do budowania stron GULP <a target="_blank" href="http://gruntjs.com/">http://gruntjs.com/</a></td>
            </tr>
            <tr>
                <th scope="row">26</th>
                <td>Szablon</td>
                <td>Szablon strony <a target="_blank" href="http://www.free-css.com/free-css-templates/page197/sadaka-1.0">http://www.free-css.com/free-css-templates/page197/sadaka-1.0</a></td>
            </tr>
            </tbody>
        </table>
        <br>
        <br>
        <br>
    </div>
</div>
