
<div class="page-heading text-center">

    <div class="container zoomIn animated">

        <h1 class="page-title">GALERIA <span class="title-under"></span></h1>
        <p class="page-description">

        </p>

    </div>

</div>

<div class="main-container">

    <div class="container gallery fadeIn animated">

        <div class="row">


            <a href="images/gallery/7610291856_931fb9f461_k.jpg" class="col-md-3 col-sm-4 gallery-item lightbox">

                <img src="images/gallery/thumb_7610291856_931fb9f461_k.jpg" alt="">

						<span class="on-hover">
							<span class="hover-caption">Opis obrazka</span>
						</span>

            </a> <!-- /.gallery-item -->

            <a href="images/gallery/children-82272_1280.jpg" class="col-md-3 col-sm-4 gallery-item lightbox">

                <img src="images/gallery/thumb_children-82272_1280.jpg" alt="">

						<span class="on-hover">
							<span class="hover-caption">Opis obrazka</span>
						</span>

            </a> <!-- /.gallery-item -->


            <a href="images/gallery/human-rights.jpg" class="col-md-3 col-sm-4 gallery-item lightbox">

                <img src="images/gallery/thumb_human-rights.jpg" alt="">

						<span class="on-hover">
							<span class="hover-caption">Opis obrazka</span>
						</span>

            </a> <!-- /.gallery-item -->


            <a href="images/gallery/old-books-436498_1280.jpg" class="col-md-3 col-sm-4 gallery-item lightbox">

                <img src="images/gallery/thumb_old-books-436498_1280.jpg" alt="">

						<span class="on-hover">
							<span class="hover-caption">Opis obrazka</span>
						</span>

            </a> <!-- /.gallery-item -->

            <a href="images/gallery/hunger-682834_1280.jpg" class="col-md-3 col-sm-4 gallery-item lightbox">

                <img src="images/gallery/thumb_hunger-682834_1280.jpg" alt="">

						<span class="on-hover">
							<span class="hover-caption">Opis obrazka</span>
						</span>

            </a> <!-- /.gallery-item -->

            <a href="images/gallery/africa-education.jpg" class="col-md-3 col-sm-4 gallery-item lightbox">

                <img src="images/gallery/thumb_africa-education.jpg" alt="">

						<span class="on-hover">
							<span class="hover-caption">Opis obrazka</span>
						</span>

            </a> <!-- /.gallery-item -->


            <a href="images/gallery/afghani-60798_1280.jpg" class="col-md-3 col-sm-4 gallery-item lightbox">

                <img src="images/gallery/thumb_afghani-60798_1280.jpg" alt="">

						<span class="on-hover">
							<span class="hover-caption">Opis obrazka</span>
						</span>

            </a> <!-- /.gallery-item -->

            <a href="images/gallery/boy-60729_1280.jpg" class="col-md-3 col-sm-4 gallery-item lightbox">

                <img src="images/gallery/thumb_boy-60729_1280.jpg" alt="">

						<span class="on-hover">
							<span class="hover-caption">Opis obrazka</span>
						</span>

            </a> <!-- /.gallery-item -->


            <a href="images/gallery/child-207573_1280.jpg" class="col-md-3 col-sm-4 gallery-item lightbox">

                <img src="images/gallery/thumb_child-207573_1280.jpg" alt="">

						<span class="on-hover">
							<span class="hover-caption">Opis obrazka</span>
						</span>

            </a> <!-- /.gallery-item -->


            <a href="images/gallery/children-60654_1280.jpg" class="col-md-3 col-sm-4 gallery-item lightbox">

                <img src="images/gallery/thumb_children-60654_1280.jpg" alt="">

						<span class="on-hover">
							<span class="hover-caption">Opis obrazka</span>
						</span>

            </a> <!-- /.gallery-item -->

            <a href="images/gallery/doll-87407_1280.jpg" class="col-md-3 col-sm-4 gallery-item lightbox">

                <img src="images/gallery/thumb_doll-87407_1280.jpg" alt="">

						<span class="on-hover">
							<span class="hover-caption">Opis obrazka</span>
						</span>

            </a> <!-- /.gallery-item -->

            <a href="images/gallery/girl-62328_1280.jpg" class="col-md-3 col-sm-4 gallery-item lightbox">

                <img src="images/gallery/thumb_girl-62328_1280.jpg" alt="">
						
						<span class="on-hover">
							<span class="hover-caption">Opis obrazka</span>
						</span>

            </a> <!-- /.gallery-item -->


        </div>

    </div>


</div> <!-- /.main-container  -->
