<!-- Carousel
================================================== -->
<div id="homeCarousel" class="carousel slide carousel-home" data-ride="carousel">

    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#homeCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#homeCarousel" data-slide-to="1"></li>
        <li data-target="#homeCarousel" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="images/slider/home-slider-1.jpg" alt="">
            <div class="container">
                <div class="carousel-caption">
                    <h2 class="carousel-title bounceInDown animated slow">Ponieważ oni potrzebują pomocy</h2>
                    <h4 class="carousel-subtitle bounceInUp animated slow ">Nie zawiedź ich</h4>
                    <a data-ui-sref="contact" class="btn btn-lg btn-secondary hidden-xs bounceInUp animated slow">Kontakt</a>
                </div> <!-- /.carousel-caption -->
            </div>
        </div> <!-- /.item -->
        <div class="item ">
           <img src="images/slider/home-slider-2.jpg" alt="">
            <div class="container">
                <div class="carousel-caption">
                    <h2 class="carousel-title bounceInDown animated slow">Na starość też można cieszyć się życiem</h2>
                    <h4 class="carousel-subtitle bounceInUp animated slow"> Pomóżmy im w tym</h4>
                    <a data-ui-sref="contact" class="btn btn-lg btn-secondary hidden-xs bounceInUp animated slow">Kontakt</a>

                </div> <!-- /.carousel-caption -->
            </div>
        </div> <!-- /.item -->
        <div class="item ">
            <img src="images/slider/home-slider-3.jpg" alt="">
            <div class="container">
                <div class="carousel-caption">
                    <h2 class="carousel-title bounceInDown animated slow">Każdego z nas czeka starość</h2>
                    <h4 class="carousel-subtitle bounceInUp animated slow">Zapewnij opiekę jaką sam chiałbyś mieć</h4>
                    <a data-ui-sref="contact" class="btn btn-lg btn-secondary hidden-xs bounceInUp animated slow">Kontakt</a>

                </div> <!-- /.carousel-caption -->
            </div>
        </div> <!-- /.item -->
    </div>
    <a class="left carousel-control" href="#homeCarousel" role="button" data-slide="prev">
        <span class="fa fa-angle-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#homeCarousel" role="button" data-slide="next">
        <span class="fa fa-angle-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div><!-- /.carousel -->
<div class="section-home home-reasons">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="reasons-col fadeIn">
                    <img src="images/reasons/we-fight-togother.jpg" alt="">
                    <div class="reasons-titles">
                        <h3 class="reasons-title">Nasze usługi</h3>
                        <!--<h5 class="reason-subtitle">We are humans</h5>-->
                    </div>
                    <div class="on-hover hidden-xs">
                        <p>Świadczymy usługi opiekuńcze dla klientów na terenie Niemiec, Wielkiej Brytanii i Polski. W ich imieniu poszukujemy i przygotowujemy do pracy kandydatów z Polski, Rumunii, Bułgarii i Słowacji, zapewniając im legalną formę współpracy oraz organizując pobyt za granicą. Już ponad 25 500 opiekunek i opiekunów zdecydowało się podjąć z nami współpracę za granicą, obdarzając nas swoim zaufaniem</p>
                        <p>Nasze opiekunki dostają tylko sprawdzone i wyselekcjonowane oferty. Zapewniamy im bezpieczeństwo oraz naszą pomoc. Zdobyliśmy zaufanie wielu klientów, kontrahentów i pracowników, którzy związali się z nami i rekomendują nas jako godnego zaufania partnera.</p>
                    </div>
                </div>
            </div>
           <div class="col-md-6">
                <div class="reasons-col fadeIn">
                    <img src="images/reasons/we-care-about.jpg" alt="">
                    <div class="reasons-titles">
                        <h3 class="reasons-title">Nasze atuty</h3>
                        <!--<h5 class="reason-subtitle">We are humans</h5>-->
                    </div>
                    <div class="on-hover hidden-xs">

                        <p>
                        <ul>
                            <li>dbanie o nasze opiekunki&nbsp;</li>
                            <li>indywidualne podejście do każdego przypadku</li>
                            <li>dopasowywanie zlecenia do kwalifikacji opiekunek - dbamy o ich wygodę i bezpieczeństwo</li>
                            <li>załatwianie wszelkich formalności związanych z wyjazdem</li>
                            <li>organizowanie bezpłatnych kursów języka niemieckiego, które pozwalają opiekunkom zdobyć umiejętność komunikatywnego posługiwania się językiem</li>
                            <li>z nami wyjazd staje się łatwiejszy!</li>
                        </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- /.home-reasons -->
