
<div class="page-heading text-center">

    <div class="container zoomIn animated">

        <h1 class="page-title">Zobacz jak może wyglądać Twoja praca <span class="title-under"></span></h1>
        <p class="page-description">
            Dzień z życia opiekunki
        </p>

    </div>

</div>

<div class="main-container">

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-1">
                <video width="960" height="720" controls>
                    <source src="images/filmik.avi" type="video/avi">
                    <source src="images/filmik.mp4" type="video/mp4">
                    <source src="images/filmik.ogv" type="video/ogv">
                    <!--<source src="movie.ogg" type="video/ogg">-->
                    Your browser does not support the video tag.
                </video>

            </div>
            </div>

        </div>

    </div>

</div> <!-- /.main-container  -->
